@media only screen and (max-width: 987px){
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    @media only screen and (max-width: 840px){
        .container nav li{
            margin-right: 15px;
        }