//@import "media.css";

$main_font: 'robotoregular';
$main_color: #212121;

@font-face {
  font-family: $main-font;
  src: url('../font/roboto-regular-webfont.eot');
  src: url('../font/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/roboto-regular-webfont.woff2') format('woff2'),
  url('../font/roboto-regular-webfont.woff') format('woff'),
  url('../font/roboto-regular-webfont.ttf') format('truetype'),
  url('../font/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
  padding: 0;
  margin: 0;
}

header {
  max-width: 1200px;
  margin: auto;
}
.container{
  font-family: $main_font;
  padding-top: 20px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  nav {
    ul {
      li {
        display: inline-block;
        justify-content: space-between;
        padding: 0 20px;
        margin:auto;
        a{
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  .contact{
    padding: 7px 36px 7px 26px;
    background-color:  #f46a35;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    border-radius: 6px;
    color: #fff;
    text-align: center;
    box-sizing:border-box;
    display: inline-flex;
  }
}


.corporate_cards{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding-top: 20px;
}
.flex_left {
  h1{
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    color: $main-color;
    font-family:$main_font;
    padding-bottom:23px;
  }
  .contact{
    padding: 13px 32px 13px 32px;
    background-color:  #f46a35;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    border: 1px solid #f46a35;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    box-sizing:border-box;
    display: inline-flex;
    .contact_2{
      display:flex;
    }
  }
  .contact_2{
    padding: 13px 21px 13px 22px;
    text-decoration: none;
    text-align: center;
    box-sizing:border-box;
    display: inline-flex;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: $main-color;
  }
}
.text_left{
  display: flex;
  flex-direction: column;
  padding-top:97px;
  span{
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: $main-color;
    font-family: $main-font;
  }
  p{
    font-family: $main-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.02em;
    color: $main-color;
    padding-top:9px;
  }
}
.learn_more_flex{
  font-size: 16px;
  line-height: 150%;
  color: black;
  text-decoration:none;
  font-family: $main_font;
  display: inline-block;
  padding-top: 9px;
  padding-bottom:50px;
  &:hover{
    color:#f46a35;
    svg path{
      fill: #f46a35;
    }
  }
}
.logotips{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top:80px;
}

.page_2{
  max-width: 1200px;
  margin: auto;
  padding-top: 208px;
}
.info_page_2{
  display:flex;
  justify-content:center;
  flex-direction: column;
  span {
    font-weight: 400;
    font-size: 36px;
    line-height: 144%;
    letter-spacing: 0.04em;
    text-align: center;
    font-family: $main_font;
    color: $main-color;
  }
  p{
    font-weight: 400;
    font-size: 19px;
    line-height: 168%;
    letter-spacing: 0.02em;
    text-align: center;
    color: $main-color;
    font-family: $main_font;
    padding-top:8px;
  }
}

.fon_page_2{
  display:flex;
  justify-content:center;
  padding-top:64px;
  padding-bottom:72;
}
.left_image {
  position: relative;
  span{
    position:absolute;
    top:48px;
    left:147px;
    color: #fff;
    font-family: $main_font;
    font-weight: 400;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.02em;
    text-align: center;
  }
  p{
    position:absolute;
    top:98px;
    left:52px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    font-family: $main-font;
  }
  a{
    position:absolute;
    top:168px;
    left:210px;
    color: #fff;
  }
}
.pict_left{
  position: absolute;
  top: 240px;
  left: 20px;
}

.learn_more{
  padding: 13px 41px 13px 41px;
  text-decoration: none;
  text-align: center;
  box-sizing:border-box;
  display: inline-flex;
  border:  1px solid #fff;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: $main-color;
  font-family: $main_font;
  padding-top:22px;
}

.right_image {
  position: relative;
  span{
    position:absolute;
    top:48px;
    left:147px;
    color: $main-color;
    font-family: $main_font;
    font-weight: 400;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.02em;
    text-align: center;
  }
  p{
    position:absolute;
    top:98px;
    left:52px;
    color: $main-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    font-family: $main_font;
  }
  a{
    position:absolute;
    top:168px;
    left:210px;
    color: $main-color;
  }
}
.pict_right{
  position: absolute;
  top: 240px;
  left: 20px;
}
.page_3{
  max-width: 1200px;
  margin: auto;
  justify-content:left;
  background: #f9f9f9;
  margin-top:72px;
}
.flexible{
  padding-top:95px;
  span{
    font-weight: 400;
    line-height: 144%;
    font-size: 36px;
    letter-spacing: 0.04em;
    color: $main-color;
    font-family: $main-font;
    padding-left:48px;
  }
  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: $main-color;
    font-family: $main-font;
    padding-top: 21px;
    padding-left:48px;
  }
  a {
    border: 1px solid $main-color;
    border-radius: 10px;
    padding: 12px 21px 14px 21px;
    text-decoration: none;
    text-align: center;
    box-sizing:border-box;
    display: inline-flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: $main-color;
    font-family: $main-font;
    padding-top:12px;
    margin-left:48px;
  }
}
.create_img{
  margin-left:48px;
  padding:40px 0 80px 0;
}
.page_4{
  max-width: 1200px;
  margin: auto;
  margin-top:251px;
  p{
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.02em;
    text-align: center;
    color: $main-color;
    font-family: $main-font;
    padding-top:48px;
  }
}
.doordash{
  padding-left:510px;
  animation: example 4s infinite;
}
.text_doordash {
  display: flex;
  justify-content: space-between;
  padding-top:49px;
  span{
    font-weight: 400;
    font-size: 22px;
    line-height: 109%;
    text-align: center;
    color: $main-color;
    font-family: $main-font;
    padding:0 166px 0 166px;
  }
  a  {
    background: #edefee;
    justify-content: center;
    display: flex;
    margin: auto;
  }
}

@keyframes example {
  0% {transform: scale(1)}
  50% {transform: scale(1.2)}
  70% {transform: rotate(30deg)}
  100% {transform: skew(20deg, 10deg)}
}

.page_5 {
  max-width: 1200px;
  margin: auto;
  h3{
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-align: center;
    color: $main-color;
    font-family: $main-font;
    padding-top:252px;
  }
}
.companies{
  display: flex;
  justify-content: space-between;
  padding-top:79px;
  .owl-item {
  padding-left:32px;
    padding-right:32px;
  }
  span {
    display:inline-block;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: $main-color;
    padding-top:26px;
    padding-top:22px;
    font-family: $main-font;
  }
}
.read_case{
  font-size: 16px;
  line-height: 150%;
  color: black;
  text-decoration:none;
  font-family: $main-font;
  display: inline-block;
  padding-top: 22px;
  &:hover{
    color:#f46a35;
    svg path {
      fill: #f46a35;
    }
  }
}

.companies_2 {
  ul {
    display: flex;
    justify-content: space-between;
    padding-right: 14px;
    margin: 0 39px 0 40px;
    li {
      border: 1px solid #e5e5e5;
      justify-content: center;
      display: flex;
      width: 275px;
      height: 200px;
      align-items: center;
    }
  }
}


.page_6{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top:161px;
  background: #f9f9f9;
  .text_6 {
    padding-left: 48px;
    padding-top:110px;
    p {
      font-size: 40px;
      font-weight: 400;
      color: $main_color;
      font-family: $main-font;
      line-height: 130%;
      letter-spacing: 0.04em;
    }
      span {
        font-size: 20px;
        color:$main_color;
        font-weight: 400;
        font-family: $main-font;
        line-height: 160%;
        letter-spacing: 0.02em;
        padding-right:165px;
      }

    .contact{
      padding: 13px 21px 13px 22px;
      background-color:  #f46a35;
      text-decoration: none;
      font-weight: 400;
      font-size: 14px;
      line-height: 157%;
      border-radius: 6px;
      color: #fff;
      text-align: center;
      box-sizing:border-box;
      display: inline-flex;
    .contact_2{
      display:flex;
    }
  }
  .contact_2{
    padding: 13px 21px 13px 22px;
    text-decoration: none;
    text-align: center;
    box-sizing:border-box;
    display: inline-flex;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: $main-color;
   }
  }
}

.last_page {
  max-width: 1200px;
  margin: auto;
  padding-top: 120px;
  background: #171717;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #bcbdbd;
  font-family: $main-font;
.menu_last{
  display: flex;
  justify-content: space-between;
  a{
    padding-left:50px;
  }
  ul{
    &:last-child{
      padding-right:50px;
    }
    li{
      list-style: none;
      &:first-child {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        font-family: $main-font;
      }
    }
  }
}

  .download {
    display: flex;
    justify-content: center;
    background: #171717;
    max-width: 1200px;
    margin: auto;
    padding-top: 97px;
    padding-bottom: 121px;

    a {
      padding-right: 22px;
      text-decoration: none;

      &:last-child {
        padding-right: 360px;
      }
    }

    .text {
      padding-left: 50px;
      span {
        background: black;
        color: #bcbdbd;
        max-width: 1200px;
        margin: auto;
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        letter-spacing: 0.02em;
      }
    }
  }
 }






