@font-face {
  font-family: 'robotoregular';
  src: url("../font/roboto-regular-webfont.eot");
  src: url("../font/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/roboto-regular-webfont.woff2") format("woff2"), url("../font/roboto-regular-webfont.woff") format("woff"), url("../font/roboto-regular-webfont.ttf") format("truetype"), url("../font/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  padding: 0;
  margin: 0; }

header {
  max-width: 1200px;
  margin: auto; }

.container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }

nav ul li {
  display: inline-block;
  justify-content: space-between;
  padding: 0 20px;
  margin: auto; }

.container nav ul li a {
  text-decoration: none; }

.container .contact {
  padding: 7px 36px 7px 26px;
  background-color: #f46a35;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  border-radius: 6px;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  display: inline-flex; }

.corporate_cards {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  padding-top: 20px; }

.flex_left h1 {
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  color: #212121;
  font-family: 'robotoregular';
  padding-bottom: 23px; }

.flex_left .contact {
  padding: 13px 32px 13px 32px;
  background-color: #f46a35;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  border: 1px solid #f46a35;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  display: inline-flex; }

.flex_left .contact_2 {
  padding: 13px 21px 13px 22px;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  display: inline-flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #212121; }

.flex_left .contact .contact_2 {
  display: flex; }

.text_left {
  display: flex;
  flex-direction: column;
  padding-top: 97px; }

.text_left span {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: #212121;
  font-family: 'robotoregular'; }

.text_left p {
  font-family: 'robotoregular';
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.02em;
  color: #212121;
  padding-top: 9px; }

.learn_more_flex {
  font-size: 16px;
  line-height: 150%;
  color: black;
  text-decoration: none;
  font-family: 'robotoregular';
  display: inline-block;
  padding-top: 9px;
  padding-bottom: 50px; }

.learn_more_flex:hover {
  color: #f46a35; }

.learn_more_flex:hover svg path {
  fill: #f46a35; }

.logotips {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 80px; }

.page_2 {
  max-width: 1000px;
  margin: auto;
  padding-top: 208px; }

.info_page_2 {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.info_page_2 span {
  font-weight: 400;
  font-size: 36px;
  line-height: 144%;
  letter-spacing: 0.04em;
  text-align: center;
  font-family: 'robotoregular';
  color: #212121; }

.info_page_2 p {
  font-weight: 400;
  font-size: 19px;
  line-height: 168%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #212121;
  font-family: 'robotoregular';
  padding-top: 8px; }

.fon_page_2 {
  display: flex;
  justify-content: center;
  padding-top: 64px;
  padding-bottom: 72; }

.left_image {
  position: relative; }

.left_image span {
  position: absolute;
  top: 48px;
  left: 147px;
  color: #fff;
  font-family: 'robotoregular';
  font-weight: 400;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: 0.02em;
  text-align: center; }

.left_image p {
  position: absolute;
  top: 98px;
  left: 52px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  font-family: 'robotoregular'; }

.left_image a {
  position: absolute;
  top: 168px;
  left: 210px;
  color: #fff; }

.pict_left {
  position: absolute;
  top: 240px;
  left: 20px; }

.learn_more {
  padding: 13px 41px 13px 41px;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  display: inline-flex;
  border: 1px solid #fff;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #212121;
  font-family: 'robotoregular';
  padding-top: 22px; }

.right_image {
  position: relative; }

.right_image span {
  position: absolute;
  top: 48px;
  left: 147px;
  color: #212121;
  font-family: 'robotoregular';
  font-weight: 400;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: 0.02em;
  text-align: center; }

.right_image p {
  position: absolute;
  top: 98px;
  left: 52px;
  color: #212121;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  font-family: 'robotoregular'; }

.right_image a {
  position: absolute;
  top: 168px;
  left: 210px;
  color: #212121; }

.pict_right {
  position: absolute;
  top: 240px;
  left: 20px; }

.page_3 {
  max-width: 1200px;
  margin: auto;
  justify-content: left;
  background: #f9f9f9;
  margin-top: 72px; }

.flexible span {
  font-weight: 400;
  font-size: 36px;
  line-height: 144%;
  letter-spacing: 0.04em;
  color: #212121;
  font-family: 'robotoregular';
  padding-left: 48px; }

.flexible {
  padding-top: 95px; }

.flexible p {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: #212121;
  font-family: 'robotoregular';
  padding-top: 21px;
  padding-left: 48px; }

.flexible a {
  border: 1px solid #212121;
  border-radius: 10px;
  padding: 12px 21px 14px 21px;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  display: inline-flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #212121;
  font-family: 'robotoregular';
  padding-top: 12px;
  margin-left: 48px; }

.create_img {
  margin-left: 48px;
  padding: 40px 0 80px 0; }

.page_4 {
  max-width: 1200px;
  margin: auto;
  margin-top: 251px; }

.doordash {
  padding-left: 510px; }

.text_doordash {
  display: flex;
  justify-content: space-between;
  padding-top: 49px; }

.text_doordash span {
  font-weight: 400;
  font-size: 22px;
  line-height: 109%;
  text-align: center;
  color: #212121;
  font-family: 'robotoregular';
  padding: 0 166px 0 166px; }

.page_4 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #212121;
  font-family: 'robotoregular';
  padding-top: 48px; }

.text_doordash a {
  background: #edefee;
  justify-content: center;
  display: flex;
  margin: auto; }

.page_5 {
  max-width: 1200px;
  margin: auto; }

.page_5 h3 {
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #212121;
  font-family: 'robotoregular';
  padding-top: 252px; }

.companies {
  display: flex;
  justify-content: space-between;
  padding-top: 79px; }

.companies span {
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #212121;
  padding-top: 26px; }

.companies span {
  padding-top: 22px; }

.read_case {
  font-size: 16px;
  line-height: 150%;
  color: black;
  text-decoration: none;
  font-family: 'robotoregular';
  display: inline-block;
  padding-top: 22px; }

.read_case:hover {
  color: #f46a35; }

.read_case:hover svg path {
  fill: #f46a35; }

.companies_2 {
  display: flex;
  justify-content: center;
  padding-top: 81px;
  padding-bottom: 70px; }

.companies_2 img {
  padding: 75px 29px 75px 29px;
  border: 1px solid #e5e5e5;
  justify-content: center;
  display: flex;
  align-items: center;
  max-width: 1000px; }

.last_page {
  background: #171717;
  max-width: 1200px;
  margin: auto; }

.menu {
  display: flex;
  justify-content: center; }

.brexlogo, .type_1, .type_2, .type_3 {
  margin-right: 154px;
  padding-top: 120px;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #bcbdbd;
  font-family: 'robotoregular'; }

.last_page .type_1 ul li, .type_2 ul li, .type_3 ul li {
  list-style: none; }

.type_1 li:first-child, .type_2 li:first-child, .type_3 li:first-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  font-family: 'robotoregular'; }

.download {
  display: flex;
  justify-content: center;
  background: #171717;
  max-width: 1200px;
  margin: auto;
  padding-top: 97px;
  padding-bottom: 121px; }

.download a {
  padding-right: 24px; }

.text span {
  background: #171717;
  display: flex;
  color: #bcbdbd;
  max-width: 1200px;
  margin: auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.02em;
  padding-bottom: 9px; }
